services:
  db:
    image: postgres:16
    container_name: postgres_rendu_projet
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
  
  frontend:
    image: node:20-alpine
    container_name: frontend
    ports:
      - "3000:3000"

  backend:
    image: node:20-alpine
    container_name: backend
    ports:
      - "4000:4000"

volumes:
  db_data: